.App {
  margin: 0;
  border: 0;
  text-align: center;

  color: #142850;
}

h1, h2 {
font-family: 'Montserrat', sans-serif;
font-weight: 700;
margin: 30px;
margin-right: 0;
margin-left: 0;
}

h1 {
  font-size: 38px;

}

h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.color--primary {
  color: #142850;
}

.color--secondary {
  color: #9398a0;
}

.color--accent {
  color: #ffad36;
}

.color--danger {
  color: #f54a2b;
}

.preloader {
  margin: 30px;
  height: 85vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.preloader--img {
  display: block;
  width: 50%;
  max-width: 1030px;
  max-height: 25vh;
  height: auto;
  margin: auto;
}

.preloader-spinner {
  margin: auto;
}

.preloader-sub {
  margin-bottom: 20px;
}

.preloader-sub--no-margin {
  margin: 0;
}

.info {
  margin: 30px;
}

.info-detail {
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: left;
}

.info-card {
  margin-bottom: 30px;
}

.info-detail--dot {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  /* margin-right: 10px; */
  /* margin-bottom: 10px; */
  border: 10px solid #ffad36;
  border-radius: 50px;
  background-color: #ffffff;
}

.info-detail--card-deteil {
  margin-top: 15px;
  /* margin-bottom: 15px; */
}

.info-detail--title {
  color: #142850;
  /* font-family: 'Montserrat', sans-serif; */
}

.info-detail--data {
  color: #9398a0;
  /* font-family: 'Open Sans', sans-serif; */

  padding-bottom: 5px;
}